.header-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  padding: 10px 0px;
}

.chats-body {
  background-image: url("../images/chat-bg.png");
  min-height: 1000vh;
  padding: 10px 0px;
  padding-top: 130px; /* body에 기본 삽입된 padding을 제거시켜 배경이미지를 전체 확대한다. */
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  border-top: #f7f7f7 1px solid;
}

.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 13px;
  font-weight: 700;
  padding: 20x 10px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
    rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
  text-transform: uppercase;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfcfc;
  padding: 0px 20px;
  border-radius: 40px;
  /* box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 수평음영값 수직음영값 blur값 음영색상(red green blue opacity */
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  margin: 0 auto;
  left: 0;
  right: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write .chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write .chat__write-column input {
  padding: 10px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write .chat__write-column input:focus {
  outline: none;
}

.message {
  display: flex;
  align-items: flex-start;
  /* width: 50%; */
  margin-bottom: 40px;
}

.message .message__bubble {
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  color: white;
  /* font-weight: 600; */
  /* display: block; */
}

.incomming-message img {
  width: 50px;
  border-radius: 15px;
  margin-right: 15px;
}

.incomming-message {
  align-self: flex-start;
}

.incomming-message .message__author {
  margin-bottom: 25px;
  display: block;
  font-weight: 600;
  font-size: 15px;
}

.incomming-message .message__bubble {
  color: black;
  background-color: white;
  border-bottom-left-radius: 0px;
  /* background-image: linear-gradient(to right, #7b4397, #dc2430); */
}

.sent-message {
  align-self: flex-end;
}

.sent-message .message__bubble {
  color: black;
  background-color: yellow;
  border-bottom-right-radius: 0px;
  /* background-image: linear-gradient(to right, #7b4397, #dc2430); */
}
